:root {
	--babyblue: #2DD6FB;
	--powderwhite: #F8F8F8;
	--darkgray: #343636;
	--lightpink: #F85A7C;
	--scale: scale(1.1);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--babyblue);
	font-family: 'Montserrat', sans-serif;
	width: 100vw;
	overflow-x: hidden;
}

nav {
	display: flex;
}

h1 {
	color: var(--lightpink);
	text-align: center;
	margin-top: 1vh;
}

h2 {
	text-align: center;
	margin-top: 5vh;
	border-radius: 8px;
	width: 20%;
	background-color: var(--lightpink);
}

h3 {
	color: var(--darkgray);
	width: 20%;
	text-align: center;
	margin-top: 3vh;
	padding: 5px;
	cursor: pointer;
	border: 2px solid black;
	border-radius: 8px;
	background-color: var(--lightpink);
}

h3:hover {
	transform: var(--scale);
}

.menu {
	display: flex;
	justify-content: center;
}

.congratulations {
	display: flex;
	justify-content: center;
}

.playboard {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80vw;
	height: auto;
	margin: 7vh auto 0 auto;
	flex-wrap: wrap;
	perspective: 1000px;
}

.card-container {
	position: relative;
	width: 100px;
	height: 150px;
	margin: 1vh 1vw;
	transform-style: preserve-3d;
	transition: transform .5s;
}

.front-face,
.back-face {
	width: 100px;
	height: 150px;
	object-fit: cover;
	transition: 250ms ease;
	position: absolute;
	backface-visibility: hidden;
	opacity: 0.9;
	border-radius: 10px;
}

.front-face {
	transform: rotateY(180deg);
	opacity: 1;
}

.card-container.flip {
	transform: rotateY(180deg);
}
